.com-weilan-warning{
    .item{
        display: inline-block;
        width: 33%;
        text-align: center;
        margin: 30px 0;
    }

    .today_number{
        color: orange;
    }
    .processed{
        color: #00ad9c;
    }
    .unprocessed{
      color: white;
    }
}