{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block custom_meta %}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block site-head %}
<title>重固大屏</title>
{% endblock %}


{% block site-content %}

<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
<script src="{{ js_config.js_lib.welljia }}"></script>
<script src="{{ js_config.js_lib.bigscreen }}"></script>

<script>


    $(function(){

        new Vue({
            el:'#main-panel',
            data:{
                env:cfg.env
            },
            mounted:function(){
                this.update_size()
            },
            watch:{
                'env.height':function(v){
                    this.update_size()
                }
            },
            methods:{
                update_size:function(){
                    var height = this.env.height
                    var scale=height/900
                    var scale_str=ex.template('scale({scale})',{scale:scale})
                    $(this.$el).css('transform',scale_str)
                }

            }
        })

    })


</script>
<div >
    <div class="main-panel" id="main-panel" style="position: absolute;top:0;left: 0;transform-origin:top left">

        <div class="big-head">
            重固镇城市网格化管理中心
        </div>
        <div class="grid-items">
            <div class="col">
                <div class="scien-text head1">
                    12345
                </div>
                <com-banli-status class="op-panel"></com-banli-status>
                <com-chuzhi class="op-panel"></com-chuzhi>
                <com-toushu-year-compare class="op-panel"></com-toushu-year-compare>
            </div>
            <div class="col">
                <div class="scien-text head1">
                    网格化
                </div>
                <com-grid-banli class="op-panel"></com-grid-banli>
                <com-faxian-status class="op-panel"></com-faxian-status>
                <com-gaofa-case class="op-panel"></com-gaofa-case>
            </div>

            <div class="col">
                <div class="scien-text head1">
                    人员情况
                </div>
                <com-duty class="op-panel"></com-duty>
                <com-weilan-warning class="op-panel"></com-weilan-warning>
                <com-case-number-this-month class="op-panel"></com-case-number-this-month>
            </div>
        </div>



    </div>


</div>

{% endblock %}